
@{
    ViewData["Title"] = "Plaid";
}

<h1>Plaid Integration</h1>

<button id="plaid-button">Link your accounts via Plaid</button>
<br />
<br />
<label>Public Token: </label>
<input type="text" id="plaid-public_token" size="200"/>
<div id="plaid-accounts" style="margin-top: 10px;"></div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
            document.getElementById('plaid-accounts').innerHTML = "Anaya Upadhyay";

        /*
            var r = ["actionLog", "apiRequestId", "apiVersion", "browserLanguage", "clientName", "configLanguage", "configCountryCodes", "createToOnLoadInterval", "createToOpenInterval", "currentPane", "ddtaSurveyQuestion", "ddtaSurveySelection", "ddtaSurveyPreviousPane", "didConsent", "env", "experimentVariants", "exitStatus", "hasUserEmailAddress", "hasUserLegalName", "hasUserPhoneNumber", "institutionButtonIndex", "institutionName", "institutionColorPrimary", "institutionSearchIsVisible", "institutionSearchQueryLog", "institutionSearchResults", "institutionType", "interstitial_consent", "isCustomInitializer", "isCustomInitializerEnabled", "isEmbedded", "isMatchedUser", "isMobile", "isParentInlineStylesheetSupported", "isParentMetaViewportSet", "isPatch", "isRestrictedWebview", "isSimpleIntegration", "isUsingOnEventCallback", "isUsingOnExitCallback", "isUsingOnLoadCallback", "isWebview", "itemStatus", "linkClientGetDuration", "linkjsDuration", "linkOpenId", "linkPersistentId", "linkRequestId", "linkSessionId", "linkToken", "longtailAuthEnabled", "microdeposits_ach_provider", "openDurationMS", "parentMetaViewport", "patchPublicToken", "plaidClientName", "products", "productsEnabled", "previousPane", "publicKey", "publicToken", "searchResultIndex", "selectAccount", "statusCode", "useSandbox", "vendorjsDuration", "webhook"];
        */
        var handler = Plaid.create({
            clientName: 'Wealthlane',
            user: {
                client_user_id: 'anaya_upadhyay',
            },
            env: 'sandbox',
            token: '@ViewBag.LinkToken',
            product: ['auth', 'identity', 'transactions', 'assets', 'liabilities', 'investments'],
            selectAccount: true, // Optional – trigger the Select Account
            onLoad: function() {
            // Optional, called when Link loads
            },
            onSuccess: function(public_token, metadata) {
                console.log('Success!');
                console.log(public_token);
                $("#plaid-public_token").val(public_token);
                console.log(metadata);

                var accountsData = "<b><u>Linked Account Information</u></b><br />" +
                                   "Account Id = " + metadata.account.id +
                                   "<br />A/c Name = " + metadata.account.name + 
                                   "<br />A/c Type = " + metadata.account.subtype + 
                                   "<br />Bank Name = " + metadata.institution.name;

                document.getElementById('plaid-accounts').innerHTML = accountsData;
            },
            onExit: function(err, metadata) {
            // The user exited the Link flow.
            if (err != null) {
                // The user encountered a Plaid API error prior to exiting.
                console.log('Error :');
                console.log(err);
                console.log('Metadata :');
                console.log(metadata);
            }
            // metadata contains information about the institution
            // that the user selected and the most recent API request IDs.
            // Storing this information can be helpful for support.
            }
        });

        $("#plaid-button").click(function(){
            //alert("You clicked a button");
            console.log("Inside Click Event of plaid-button");
            handler.open('ins_1');
        });               
    </script>
}